---
import Layout from "../layouts/Layout.astro";
import HeroVideo from "../components/HeroVideo.astro";
import BlogCta from "../components/BlogCta.astro";
import MiniLinks from "../components/MiniLinks.astro";
import MostRequested from "../components/MostRequested.astro";
import PriceCard from "../components/PriceCard.astro";
import FormsToDownload from "../components/FormsToDownload.astro";
import ReadyToBook from "../components/ReadyToBook.astro";
import LocationMap from "../components/LocationMap.astro";
---

<Layout title="Hammer Head Cozumel | Dive Shop">
  <HeroVideo
    title="Dive into Adventure with Hammer Head in Cozumel, Mexico!"
    subtitle="Explore vibrant reefs, ancient wrecks, and marine marvels with our expert guides, we are here to make your experience unforgettable."
    image="/homeHeroVideo.mp4"
  />
  <BlogCta />
  <MiniLinks
    title1="Specialty Dives"
    title2="Dive Packages"
    title3="Our Blog"
    text1="Learn more about pecial dive sites thier challenges and prices"
    text2="We have a variety of different packages for you"
    text3="Visit our blog to learn more about the reefs, the sea life in cozumel and much more"
    link1="/divespecials"
    link2="/packages"
    link3="/blog"
    imageurl="/LifeSaver.jpg"
  />
  <MostRequested
    title="Colombia reef our most requested dive site"
    content="Whether you are a seasoned diver chasing the perfect reef or a beginner eager to find the wonders of the ocean, our expert instructors and vibrant team staff are here to make your experience unforgettable."
  />
  <div class="top-packages">
    <div class="top-wrapper">
      <div class="top-title">
        <h3>Top Packages</h3>
        <p
          >Explore our packages and what they include, book your next dice now!</p
        >
      </div>
      <div class="section-top-content">
        <PriceCard packageName="4 DAY" price="$350" dives="8 DIVE TANKS" />
        <PriceCard
          packageName="Twilight Dive"
          price="$99"
          dives="2 DIVE TANKS (1 LATE AFTERNOON DIVE & 1 NIGHT DIVE)"
        />
        <PriceCard packageName="1 DAY" price="$95" dives="2 DIVE TANKS" />
      </div>
    </div>
  </div>
  <FormsToDownload />
  <ReadyToBook />
  <LocationMap />
</Layout>
<style>
  .top-wrapper {
    color: white;
    padding: 3rem 2rem;
  }
  .top-title {
    text-align: center;
    padding: 3rem 1rem;
  }
  .top-wrapper h3 {
    font-weight: bolder;
    font-size: xx-large;
  }
  .top-wrapper p {
    padding-top: 2rem;
  }
  .section-top-content {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  @media (max-width: 720px) {
    .section-top-content {
      flex-direction: column;
    }
  }
  @media (max-width: 1000px) {
    .top-wrapper {
      padding: 3rem 1rem;
    }
  }
</style>
