---
import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import BlogList from "../components/BlogList";
---

<Layout title="blog">
  <Main>
    <BlogList client:load />
  </Main>
</Layout>
