---
import { Image } from "astro:assets";
import HeroImage from "../components/HeroImage.astro";
import PriceCard from "../components/PriceCard.astro";
import PriceCardCustom from "../components/PriceCardCustom.astro";
import Layout from "../layouts/Layout.astro";
import MostRequested from "../components/MostRequested.astro";
import LocationMap from "../components/LocationMap.astro";
import FormsToDownload from "../components/FormsToDownload.astro";
import ReadyToBook from "../components/ReadyToBook.astro";
---

<Layout title="Hammer Head Cozumel | Dive Shop">
  <HeroImage
    title="Choose your package and let’s dive!"
    subtitle="Explore vibrant reefs, ancient wrecks, and marine marvels with our expert guides, we are here to make your experience unforgettable."
    image="/public/packageHero.jpg"
    alt="diver looking at camera while diving in deep blue ocean"
  />
  <div class="package-per-day">
    <div class="wrapper">
      <h2 class="title"> PACKAGE PER DAY</h2>
      <div class="content">
        <PriceCard packageName="1 DAY" price="$95" dives="2 DIVE TANKS" />
        <PriceCard packageName="2 DAY" price="$190" dives="4 DIVE TANKS" />
        <PriceCard packageName="3 DAY" price="$270" dives="6 DIVE TANKS" />
        <PriceCard packageName="4 DAY" price="$360" dives="8 DIVE TANKS" />
        <PriceCard packageName="5 DAY" price="$450" dives="10 DIVE TANKS" />
      </div>
    </div>
  </div>
  <div class="other-p">
    <div class="wrapper">
      <h2 class="title"> PACKAGE PER DAY</h2>
      <div class="content">
        <PriceCard
          packageName="Afternoon Dive 1"
          price="$75"
          dives="2 DIVE TANKS"
        />
        <PriceCardCustom packageName="Custom Packages" price="$???" />
        <PriceCard
          packageName="Afternoon Dive 2"
          price="$95"
          dives="6 DIVE TANKS"
        />
      </div>
    </div>
  </div>
  <MostRequested
    title="Colombia reef our most requested dive site"
    content="Whether you are a seasoned diver chasing the perfect reef or a beginner eager to find the wonders of the ocean, our expert instructors and vibrant team staff are here to make your experience unforgettable."
  />
  <LocationMap />
  <FormsToDownload />
  <ReadyToBook />
  <style>
    .package-per-day {
      color: white;
      padding: 3rem 2rem;
      background-size: cover;
      background-blend-mode: multiply;
      background: url(../../public/packageBg1.jpg);
    }
    .wrapper {
      text-align: center;
      padding: 3rem 1rem;
    }
    .wrapper h2 {
      color: white;
      font-weight: bolder;
      font-size: xx-large;
    }
    .content {
      gap: 2rem;
      display: flex;
      flex-wrap: wrap;
      padding-top: 3rem;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }
    @media (max-width: 720px) {
      .content {
        flex-direction: column;
      }
    }
    @media (max-width: 1000px) {
      .wrapper {
        padding: 3rem 1rem;
      }
    }
  </style>
</Layout>
