---
import Layout from "../layouts/Layout.astro";
import HeroImage from "../components/HeroImage.astro";
import LionFishHunting from "../components/LionFishHunting.astro";
import SpecialtyPriceCard from "../components/SpecialtyPriceCard.astro";
import ReadyToBook from "../components/ReadyToBook.astro";
import MiniLinks from "../components/MiniLinks.astro";
import FormsToDownload from "../components/FormsToDownload.astro";
---

<Layout title="Hammer Head Cozumel | Dive Shop">
  <HeroImage
    title="SPECIALTY DIVES"
    subtitle="Explore vibrant reefs, ancient wrecks, and marine marvels with our expert guides, we are here to make your experience unforgettable."
    image="/public/packageBg1.jpg"
    alt="diver looking at camera while diving in deep blue ocean"
  />
  <LionFishHunting
    title="Lion Fish Hunting"
    content="Lion fish are beautiful yet non-native and invasive species in Caribbean waters. As a result, they have no natural predators to keep their population in balance. Their voracious appetite and rapid reproduction make them threats to our local marine species, and if left unchecked, they will cause irreparable damage. This is why we hunt them. Plus, they make for fabulous ceviche."
    content2="In order to prevent damage to the environment or yourself, our expert guides will brief you on when to shoot and when not to shoot scenarios, as well as spear handling safety. Also, keep in mind that lion fish hunts can involve deep dives to depths of 100 feet or more, so dive experience and certification as a deep diver are advantageous."
  />
  <div class="specialty">
    <div class="image">
      <img
        class="image-item"
        src="/packageBg1.jpg"
        alt="foto de 3 busos en un arrefice con uchos peces"
      />
    </div>
    <div class="content">
      <SpecialtyPriceCard
        packageName="Southern Reefs"
        title="What’s Included"
        details={`Colombia $8 USD extra
        \nPunta sur $15 USD extra
        \nChan chucaab $15 USD extra
        \nMaracaibo $20 USD extra`}
        detailsBold={``}
      />
      <SpecialtyPriceCard
        packageName="Northern Reefs"
        title="What’s Included"
        details={`Barracuda $15 USD Extra
        \nCantarel (Eagle Rays Reef) $10 Usd Extra`}
        detailsBold={`Experienced divers only, 50 dives minimum & 4 divers minimum`}
      />
      <SpecialtyPriceCard
        packageName="Twilight/Night dive"
        title="What’s Included"
        details={`1 late afternoon dive 
        1 night dive, 
        2 tanks
        Weights, water & snacks included 
        \nAll for $99 USD`}
        detailsBold={``}
      />
    </div>
  </div>
  <ReadyToBook />
  <MiniLinks
    title1="Life under water in Cozumel"
    title2="The Fascinating World of Bioluminescent Marine Life"
    title3="The Majestic Manta Ray"
    text1="Cozumel, Mexico, boasts vibrant coral reefs and diverse marine life, offering unforgettable diving and snorkeling experiences in crystal-clear waters."
    text2="Dive into the enchanting phenomenon of bioluminescence in the ocean, where organisms emit light through chemical reactions, from tiny plankton to deep-sea fish"
    text3="Manta rays, massive yet gentle filter feeders, navigate oceans with grace, captivating observers worldwide. Threatened by habitat loss and targeted fishing, conservation efforts focus on safeguarding their habitats and regulating trade."
    link1="/blog"
    link2="/blog"
    link3="/blog"
    imageurl="/image123.jpg"
  />
  <FormsToDownload />
</Layout>
<style>
  .specialty {
    gap: 2rem;
    width: 100%;
    display: flex;
    height: 1400px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    flex-direction: row;
    min-height: fit-content;
    justify-content: center;
  }
  .specialty .image {
    width: 100%;
    height: 100%;
    min-height: fit-content;
  }
  .specialty .image-item {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    object-fit: cover;
  }
  .content {
    top: 50%;
    left: 50%;
    gap: 1rem;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    position: absolute;
    height: fit-content;
    align-items: center;
    flex-direction: row;
    min-width: min-content;
    justify-content: space-around;
    transform: translate(-50%, -50%);
  }
  @media (max-width: 1080px) {
    .content {
      width: 100%;
      padding: 1rem;
    }
  }
  @media (max-width: 850px) {
    .specialty {
      height: 2100px;
    }
  }
  @media (max-width: 780px) {
    .specialty {
      height: 2200px;
    }
    .content {
        gap: 2rem;
    }
  }
</style>
