<mainCtaBtn class="main-btn-component">
  <a href="/booking" class="book-now">Book Now</a>
  <a
    target="_blank"
    href="https://www.google.com/search?q=hammer+head+cozumel&oq=hammer+head+cozumel&gs_lcrp=EgZjaHJvbWUyBggAEEUYOTIGCAEQRRg9MgYIAhBFGDwyBggDEEUYPNIBCDk4MzVqMGo3qAIAsAIA&sourceid=chrome&ie=UTF-8#lrd=0x8f4e57005df3a099:0xe7e5a151dc640a4a,1,,,,"
    class="reviews">Reviews</a
  >
</mainCtaBtn>
<style>
  .main-btn-component {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  a {
    padding: 1rem 2.5rem;
    border-radius: 15px;
    font-weight: bolder;
    font-size: larger;
    width: max-content;
  }
  .book-now {
    background-color: #d90b16;
    color: white;
  }
  .book-now:hover {
    background-color: #0b0b0b;
    color: #ead91a;
  }
  .reviews {
    background-color: #000000;
    color: #ead91a;
  }
  .reviews:hover {
    background-color: #d90b16;
    color: white;
  }

  @media (max-width: 400px) {
    a {
      padding: 0.5rem 1.5rem;
    }
  }
  @media (max-width: 340px) {
    .main-btn-component {
      flex-direction: column;
    }
  }
</style>
