---
import { Image } from "astro:assets";
---

<miniGallery>
  <div class="wrapper">
    <Image
      width="200"
      height="150"
      format="webp"
      class="image"
      src="/miniGallery/image1.jpeg"
      alt="boy and girl snorkeling at el cielo reef in cozumel"
    />
    <Image
      width="200"
      height="150"
      format="webp"
      class="image"
      src="/miniGallery/image2.jpg"
      alt="two people snorkeling but camera is also showing above water level"
    />
    <Image
      width="200"
      height="150"
      format="webp"
      class="image"
      src="/miniGallery/image3.webp"
      alt="girl snorkeling down to a reef in Cozumel Mexico's blue water"
    />
    <Image
      width="200"
      height="150"
      format="webp"
      class="image"
      src="/miniGallery/image4.jpeg"
      alt="Girl snorkeling next to a sea turtle in Cozumel's turtle reel"
    />
    <Image
      width="200"
      height="150"
      format="webp"
      class="image"
      src="/miniGallery/image5.jpeg"
      alt="Guy snorkels with large school of fish looks at camera and says hi"
    />
  </div>
</miniGallery>
<style>
  .wrapper {
    gap: 2rem;
    padding: 2rem;
    display: flex;
    overflow-x: scroll;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .wrapper .image {
    max-height: 400px;
  }
</style>
