nav.main-wrapper {
  display: flex;
  padding: 10px;
  gap: 10px;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  background-color: #000000;
  transition: all .3s ease-in-out;
}
nav.main-wrapper.active {
  flex-direction: column;
  padding: 8rem 0;
}

nav .logo {
  margin: auto;
}
nav .logo .img {
  height: 80px;
  width: 80px;
}

nav .nav-list {
  display: flex;
  padding: 1rem;
  align-items: baseline;
  list-style-type: none;
  justify-content: space-around;
}

nav .nav-list.active {
  width: 100%;
  display: flex;
  min-height: 60vh;
  overflow: visible;
  height: min-content;
  flex-direction: column;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  font-weight: bolder;
}

nav .cta {
  margin: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  list-style-type: none;
  justify-content: center;
}
nav .toggle {
  top: 15px;
  right: 30px;
  display: none;
  position: absolute;
}
.primary-cta {
  display: flex;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 1rem 2.5rem;
  align-items: center;
  flex-direction: row;
  border-radius: 15px;
  text-decoration: none;
  justify-content: center;
  background-color: #ead91a;
}
.primary-cta:hover {
  background-color: #d90b16;
  color: white;
  cursor: pointer;
}
@media (max-width: 780px) {
  nav {
    font-size: smaller;
  }
  nav .nav-list {
    display: none;
    gap: .5rem 0;
    font-size: x-large;
    align-items: center;
    justify-content: center;
  }
  nav .nav-list.active {
    display: flex;
  }
  nav .toggle {
    margin: auto;
    display: block;
    background-color: white;
  }
  nav .toggle:hover {
    cursor: pointer;
  }
}
