---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<astro-primary-cta>
  <a class="primary-cta" href={href}>{title}</a>
</astro-primary-cta>
<style>
  .primary-cta {
    display: flex;
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2.5rem;
    align-items: center;
    flex-direction: row;
    border-radius: 15px;
    text-decoration: none;
    justify-content: center;
    background-color: #ead91a;
  }
  .primary-cta:hover {
    background-color: #d90b16;
    color: white;
    cursor: pointer;
  }
</style>
